<!DOCTYPE html>
<html>
<head>
    <title>Cooperativas</title>
</head>
<body>
    <h1>Lista de Cooperativas</h1>
    <ul>
        <% cooperativas.forEach(cooperativa => { %>
            <li><%= cooperativa.nombre %></li>
        <% }); %>
    </ul>
</body>
</html>
