<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <p>Bienvenido al Sistema Bancario Social.</p>
    <ul>
        <li><a href="/usuarios">Gestionar Usuarios</a></li>
        <li><a href="/prestamos">Gestionar Préstamos</a></li>
        <li><a href="/ahorros">Gestionar Ahorros</a></li>
        <li><a href="/cooperativas">Gestionar Cooperativas</a></li>
    </ul>
</body>
</html>
